<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Microdesafio</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>
  <body>
    <header class="header">
      <br>
      
      <div class= "logo"><img src="/images/logo-mercado-liebre.svg" alt="Logo" width="150"
         /></div>
      <div class="barra"><input type="text" placeholder="Buscar productos, marcas"></div>
     <button class="boton"><i class="fas fa-search"></i></button> 
<div   ></i><p class="tarjeta" ><i class="fas fa-hand-holding-usd" ></i>Comprá en cuotas y sin tarjeta de crédito</p>
</div>
<br>
<br>
     

      
      <nav>
        <ul type="none">
          <li><a href="#Ofertas">Ofertas</a></li>
          <li><a href="#Tiendas Oficiales">Oficiales</a></li>
          <li><a href="#Vender">Vender</a></li>
          <li><a href="#Ayuda">Ayuda</a></li>
        </ul>
      </nav>
<br>
      <nav>
        <ul  type="none">
          <li  ><a href="#Creá tu cuenta">Creá tu cuenta <i class="far fa-id-card"></i>
          </a></li>
          <li><a href="#Ingresá">Ingresá <i class="fas fa-sign-in-alt"></i>
          </a></li>
          <li><a href="#Mis Compras">Mis Compras <i class="fas fa-shopping-basket"></i>
          </a></li>
        </ul>
      </nav>
      
    <div class="hamburguesa"><div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div></div>
    </header>

    <section>
      <main>
      <img src="images/img-home-banner.jpg" width="360" alt="" />
      
      <header><h2>Basado en tu última visita</h2>
      </header>

      <article>
      <img src="images/img-cafetera-moulinex.jpg" width="360" alt="cafetera" />
      <div class ="truck"><i class="fas fa-truck"></i></div>
      <p class= "prec">$6.770</p>
      <p class="desc">40% OFF</p>
      <h4 class= "descripciones">Cafetera Moulinex</h4></article>

      <article>
        
      <img src="images/img-macbook-pro-2019.jpg" width="360" alt="mcbook" />
      <div class ="truck"><i class="fas fa-truck"></i></div>
      <p class= "prec">$230.000</p>
      <p class="desc">20% off</p>
      <h4 class= "descripciones" >MacBook Pro 2019</h4></article>

      <article>
        
      <img src="images/img-samsung-galaxy-s10.jpg" width="360" alt="samsumg" />
      <div class="truck"><i class="fas fa-truck"></i></div>
      <p class= "prec">$70.500</p>
      <p class="desc">10% off</p>
      <h4 class= "descripciones">Samsung Galaxy S10</h4></article>
       
      <article>
    <img src="images/img-tv-samsung-smart.jpg" width="360" alt="tv" />
    <div class="truck"><i class="fas fa-truck"></i></div>
      <p class= "prec">$23.200</p>
      <p class="desc">5% off</p>
      <h4 class= "descripciones">SmartTv Samsung 43"</h4></article>
    </section>
    <br />
    <br />
    <br />
    <br />
    <section>
      <header><h2>Sección de Ofertas</h2></header>
      <br />
      <br />

      <article>
       <img src="images/img-cafetera-moulinex.jpg" width="360" alt="cafetera" />
       <div class="truck"><i class="fas fa-truck"></i></div>
       <p class= "prec">$6.770</p>
      <p class="desc">40% OFF</p>
      <h4 class= "descripciones">Cafetera Moulinex</h4></article>

      <article>
       <img src="images/img-macbook-pro-2019.jpg" width="360" alt="mcbook" />
      <div class="truck"><i class="fas fa-truck"></i></div><p class= "prec">$230.000</p>
      <p class="desc">20% off</p>
      <h4 class= "descripciones">MacBook Pro 2019</h4></article>

      <article>
      <img src="images/img-samsung-galaxy-s10.jpg" width="360" alt="samsumg" />
      <div class="truck"><i class="fas fa-truck"></i></div>
      <p class= "prec">$70.500</p>
      <p class="desc">10% off</p>
      <h4 class= "descripciones">Samsung Galaxy S10</h4></article>
      
      <article>
      <img src="images/img-tv-samsung-smart.jpg" width="360" alt="Tv" />
      <div class="truck"><i class="fas fa-truck"></i></div>
      <p class= "prec" >$23.200</p>
      <p class="desc">5% off</p>
      <h4 class= "descripciones">SmartTv Samsung 43"</h4>
      </article>

      <br />
    </section>
  </main>
  <br>
  <br>
  <br>
  <br>
  <br>
    <footer>
      <section>
        <div class="card"><i class="fas fa-credit-card"></i>
          
        <header>
       </div>
        <h3>Pagá con tarjeta o en efectivo</h3></header>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
        
        
      </section>
      <br>
      <br>
      <br>
      
      <section>
        <div class="gift"><i class="fas fa-gift"></i></div>
        
        
        <header>
        <h3>Envío gratis desde $ 2.500</h4></header>
        <p class="fin">
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <br>
      <br>
      <br>
     <section>
        <div class="shield"><i class="fas fa-user-shield"></i></div>
        
        <header>
        <h3>Seguridad, de principio a fin</h4></header>
        <p class="fin">
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
      <br>
      <br>
      <br>
      <section>
        <header><p class="fin"></p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></header>
        </section>
    </footer>
  </body>
</html>
