<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/css/login.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link href="/css/styless.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/7213ba6fdf.js"
      crossorigin="anonymous"
    ></script>
    
    </head>
  <body>
    <header>
      <div class="top-bar">
        <section class="logo">
          <img
            src="/images/logo-mercado-liebre.svg"
            alt="Logo Mercado Liebre"
          />
        </section>
        <section class="busqueda">
          <input type="text" placeholder="Buscar productos, marcas y más..." />
          <i class="fas fa-search"></i>
        </section>
        <section class="tarjetas_header">
          <i class="fas fa-hand-holding-usd"></i>
          <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </section>
      </div>

      <nav>
        <ul class="site-bar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="login-bar">
          <li>
            <a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i>
          </li>
          <li>
            <a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i>
          </li>
          <li>
            <a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i>
          </li>
        </ul>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
      </nav>
    </header>
    <form action="/login" method="POST" class="create-form" onsubmit="return validateForm()" name="myForm">
      <div class="login">
          <label>Nombre de usuario:</label>
          <input type="text"  class="control" name="userName">
      </div>

      <div class="login">
          <label>Contraseña:</label>
          <input type="password" class="control" name="userPassword">
      </div>

      <button type="submit" name="enviar" value="enviar" class="enviar">Enviar</button>
      <script src="scripts/login.js"></script>
    </form>
</body>
</html>
  </body>
</html>
