.login label {
  margin-bottom: 5px;
  font-style: italic;
  display: block;
  margin-left: 10px;
}
.enviar {
  background-color: green;
  border: none;
  font-size: 20px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 35px;
  margin-top: 100px;
}
input[type="text"] {
  position: relative;

  left: 10px;
}
input[type="password"] {
  position: relative;

  left: 10px;
}
input:focus {
  border: orange solid 5px;
}
.enviar:hover {
  background-color: #0022aa;
}
