* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.formulario {
  margin-top: 100px;
  text-align: center;
  background-color: lightgray;
  margin-left: 25%;
  margin-right: 25%;
  min-width: 400px;
}

input[type="text"] {
  width: 300px;
  padding: 12px;
  border-radius: 8px;
  resize: vertical;
  text-align: center;
}
.nacimiento,
.perfil {
  margin-top: 10px;
}

input[type="email"] {
  width: 300px;
  padding: 12px;
  border-radius: 8px;
  resize: vertical;
  text-align: center;
}

input[type="date"] {
  width: 300px;
  padding: 12px;
  border-radius: 8px;
  resize: vertical;
  text-align: center;
}

label {
  padding: 12px 12px 12px 0;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.compradorVendedor {
  font-size: 20px;
}

input[type="file"] {
  width: 30vw;
}
input[type="password"] {
  width: 300px;
  padding: 12px;
  resize: vertical;
  text-align: center;
  border-radius: 8px;
}

input:focus {
  border: orange solid 5px;
}
.botones {
  display: flex;
  justify-content: center;
}

@media (max-width: 361px) {
  .formulario {
    display: none;
  }
}
