* {
  box-sizing: border-box;
}
.header {
  background-color: #eac926;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
h2 {
  text-align: center;
  margin-top: -5px;
  font-size: 24 px;
  background-color: #ebebeb;
  color: #666;
}

.precdesc {
  display: flex;
  margin-bottom: 18px;
}
.prec {
  font-size: 18px;
  flex-grow: 0.3;
}

.desc {
  font-size: 18px;
  color: #39b54a;
  flex-grow: 0.7;
}
.descripciones {
  font-size: 16px;
  color: #666;
}
* {
  margin: 0;
}
.tarjeta {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
.hamburguesa {
  padding-bottom: 10px;
}
.burger {
  background-color: #1259c3;
  color: white;
  display: block;
  max-width: 50px;
  padding: 15px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  margin: auto;
}
article {
  border-top: solid 1px #ebebeb;
  text-align: center;
  margin-bottom: 10px;
}
footer {
  text-align: center;
}
.truck {
  font-size: 30px;
  color: #39b54a;
}
.card {
  color: #1259c3;
  font-size: 2em;
  margin-bottom: 10px;
}
.gift {
  color: #1259c3;
  font-size: 2em;
  margin-bottom: 10px;
}

.shield {
  color: #1259c3;
  font-size: 2em;
  margin-bottom: 10px;
}
h3 {
  color: #666;
}
.fin {
  color: #666;
}

nav {
  margin-left: -40px;
}

.logo {
  margin-left: 30px;
}

.boton,
.barra {
  margin-left: 25px;
}

.visita {
  background-color: #ebebeb;
  background-size: 100vh;
}
.contenedor {
  border: solid 1px #ebebeb;
}
nav {
  display: none;
}

@media (min-width: 361px) {
  nav {
    display: block;
  }
  .hamburguesa {
    display: none;
  }
}

@media (min-width: 769px) {
}

.banner {
  width: 100vw;
}
